header img {
  margin-right: 10vw;
}

.navbar-home {
  display: flex;
  flex-grow: 0;
  flex-direction: row-reverse;
  flex-basis: 50px;
  list-style: none;
  gap: 20px;
  /* outline: 5px solid green; */
}

.navbar-home > a > li {
  align-self: center;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: goldenrod;

  &:hover {
    background-color: rgb(236, 187, 63);
  }
}

.navbar-home > a {
  text-decoration: none;

  &:active {
    color: inherit;
  }
}

.map-container {
  z-index: 10;
  border-radius: 1rem;
  display: block;
  margin: 20px auto;
  width: 49%;
  /* height: 50vh; */
  height: 600px;
  border: 5px solid goldenrod;
}

.search-bar-wrapper {
  max-width: 50%;
  margin: 20px auto 0px auto;
}

.search-bar {
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 20px;
  z-index: 30;
  width: 50%;
  border-radius: 1.25rem;
  border: 2px solid rgb(113, 113, 113);
}
