.header {
  height: 100px;
  display: flex;
  margin: 0 auto;
  gap: 10px;
  overflow: hidden;
  background-color: goldenrod;
}

.header-left {
  flex: 1;
  margin-top: 10px;
  justify-content: flex-start;
  align-self: left;
}

.header-right {
  flex: 1;
  align-self: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  /* background-color: green; */
  align-self: right;
}

.header-right-top {
  /* background-color: greenyellow; */
  height: 60%;
}

.texts {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin: 30px;
  height: 50%;
  font-weight: 700;
  font-size: 35px;
}

.navbar-home {
  /* background-color: blue; */
  margin: 0px;
  height: 40%;
  display: flex;
  flex-grow: 0;
  flex-direction: row-reverse;
  flex-basis: 50px;
  list-style: none;
  gap: 20px;
  /* outline: 5px solid green; */
}

.navbar-home > a > li {
  align-self: center;
  padding: 5px 40px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(242, 201, 98);

  &:hover {
    background-color: rgb(236, 187, 63);
  }
}

.navbar-home > a {
  text-decoration: none;

  &:active {
    color: inherit;
  }
}

.map-container,
#driver-map-container,
#driver-ride-map,
#ride-accepted-map {
  z-index: 10;
  border-radius: 1rem;
  display: block;
  margin: 20px auto;
  margin-bottom: -5px;
  width: 90vw;
  height: 50vh;
  /* height: 600px; */
  border: 2px solid goldenrod;
  border-radius: 8px;
}

.search-bar-wrapper {
  max-width: 50%;
  margin: 20px auto;
}

.search-bar {
  font-family: "Titillium Web", sans-serif;
  padding: 10px;
  padding-left: 20px;
  font-weight: 400;
  margin-left: 20px;
  font-size: 20px;
  width: 76vw;
  border: 2px solid goldenrod;
  transition: border-color 0.3s;
  &:focus {
    border-color: #2196f3; /* Change border color on focus */
  }
}

#go-button {
  font-family: "Roboto", sans-serif;
  /* height: 20px; */
  font-size: 20px;
  font-weight: 900;
  width: 50%;
  color: black;
  padding: 10px;
  margin-left: 20px;
  border: 2px solid black;
  background-color: "orange";
  color: "white";

  &:hover {
    background-color: "#ed9b02";
    color: "white";
    border: "1px solid orange";
  }
}

#infoButton {
  width: 100%;
  background-color: rgb(242, 201, 98);
  /* color: rgb(0, 0, 0); */
  color: #351851;
  border: none;
  padding: 15px 0;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
}

.route-details {
  font-family: "Titillium Web", sans-serif;
  background-color: bisque;
  width: 49%;
  margin-left: auto;
  margin-top: 20px;
  justify-content: center;
  margin-right: auto;
  display: flex;
  gap: 10%;
  border-radius: 1rem;
}

.footer {
  font-family: "Titillium Web", sans-serif;
  background-color: #fbeddb;
  padding-top: 5px;
  padding-bottom: 10px;
  color: black;
  text-align: center;
  bottom: 0;
  width: 100%;
}
